body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}

.navbar-inverse {
	background-color: #282828;
}

.navbar-inverse .navbar-brand {
	color: #cfd6de;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

.navbar-inverse .navbar-brand:after {
	content:' | |';
	padding-left: 1em;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.page-header {
	padding-bottom: 0;
	margin: 20px 0 40px;
	text-align: center;
}

.page-header:after {
	display:block;
	position:relative;
	content:'';
	bottom: -10px;
	width: 140px;
	height: 2px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #1f2640;
	box-shadow: 0 10px 0 #1f2640;
}

a {
	color: #4F61A0;
}

img {
	border: 1px solid #848484;
}

h1 {
	font-size: 1.6em;
	color: #1f2640;
	font-family: 'Playfair Display', serif;
}

h2 {
	color: #273050;
	font-size: 1.5em;
	margin-top: 1.5em;
}

h2:first-of-type {
	margin-top: 0em;
	font-size: 1.3em;
	font-weight: 100;
}

h2.cite {
	font-size: 1.3em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h2.cite em {
	font-size: 1.15em;
}

h3 {
 font-size: 1.4em;
 line-height: 1.5em;
 margin-bottom: 0.25em;
 color: #070910;
 font-family: 'Playfair Display', serif;
}

h2 + h3 {
	margin-top: 0em;
}

.portfolio-item {
    margin-bottom: 25px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
    align-items: baseline;
}

footer {
	background-color: #27303b;
	padding: 1.5em 1em 1em 2em;
    margin: 50px 0 0 0;
}

footer small {
	color: #cfd6de;
}


