.navbar-inverse {
	background-color: #282828;
}

.navbar-inverse .navbar-brand {
	color: #cfd6de;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

.navbar-inverse .navbar-brand:after {
	content:' | |';
	padding-left: 1em;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.page-header {
	padding-bottom: 0;
	margin: 20px 0 40px;
	text-align: center;
	border-bottom: none;
}

.page-header:after {
	display:block;
	position:relative;
	content:'';
	bottom: -10px;
	width: 140px;
	height: 2px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #1f2640;
	box-shadow: 0 10px 0 #1f2640;
}


